<html>
 <head> <script src="https://unpkg.com/htmx.org@2.0.2"></script> </head>
<body>
    <center><h1>Welcome to Shorturl</h1></center>
    <center><h2>Please enter your long link to make it as small as your thumbnail</h2></center>
    <center> 

        <form hx-post="/create" hx-target="this">
            <input type="url" name="link" id="link" />
            <button type="submit">Create</button>
        </form>
    </center>
    </br></br>
    <center><h2>Enter your owner key to check views</h2></center>
    <center>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
     <p>deleted !</p>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
        <form hx-post="/check" hx-target="this">
            <input type="text" name="owk" id="owk" />
            <button type="submit">Check</button>
        </form>
    </center>
</body>
</html>