<html>
<body>
<center><h1>Welcome to Shorturl</h1></center>
<center><h2>please enter your long link to make it as small as ur thumb nail</h2></center>
<center>  <form action="/create" method="get">
  <input type="text" id="link" name="link"><br><br>
  <input type="submit" value="Create">
</form> 
</center>
</br></br>
<center><h2>Enter your id to check views</h2></center>
<center>  <form action="/check" method="get">
  <input type="text" id="id" name="id"><br><br>
  <input type="submit" value="Check">
</form> 
</center>

</body>
</html>